
<div class="col-sm-6 col-md-4">
  <div class="thumbnail">





<% @artists.each do |artist| %>


			<h4> <%= link_to artist.name , artist %></h4>
			<h4> <%= artist.birth_date %></h4>

<%= link_to "What songs this artist is singing ? ", artist %>

<br>
<br>
<br>
<br>
<br>

<% end %>

